.footer--primary {
  padding: 2rem 1rem;
  background: var(--darkpurple); color: white;
  font-weight: 400;
}

.footer--text {
  margin-bottom: 1rem;
  line-height: 1.25;
}

.footer--social {
  margin-bottom: 2rem; position: relative; display: block; width: 100%; height: 35px;
  img {
    height: 35px;
  }
}

.footer--link {
  color: white; text-decoration: underline;
}

.vertical--align {
  padding-left: .5rem; position: absolute; top: 50%; transform: translateY(-50%);
}


@media screen and (min-width: 640px) {
  .footer--primary {
    padding: 3rem 3%;
    display: flex; flex-direction: row-reverse;
  }
  .flex--left {
    width: 60%;
  }
  .flex--right {
    width: 40%;
  }
  .footer--social {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .footer--primary {
    padding: 3rem 15%;
  }
  .flex--left {
    width: 60%;
  }
  .flex--right {
    width: 40%;
  }
}

@media screen and (min-width: 960px) {
  .flex--left {
    width: 65%;
  }
  .flex--right {
    width: 35%;
  }
}