.header--primary {
  width: 100%;
  background: rgba(0,0,0,.75);
  position: absolute;
  overflow: hidden;
  z-index: 99;
}

.logo {
  margin: 1rem 0 1rem 1.5rem;
  img {
    width: 40%; max-width: 100px;
  }
}

@media screen and (min-width: 640px) {
  .logo {
    margin: 1.5rem 0 1.5rem 3%;
  }
}

@media screen and (min-width: 800px) {
  .logo {
    margin: 1.5rem 0 2rem 15%;
  }
}