:root {
  --purple: #4A2974;
  --darkpurple: rgb(37, 15, 37);
}

@import 'reset';

@mixin font-default {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', 'Ubuntu', sans-serif;
  font-weight: 300; font-size: 100%;
}

body {
  @include font-default;
  background: var(--darkpurple); color: white;
}

main {
  background: white; position: relative; overflow: hidden;
}

a {
  color: inherit;
}

@import 'header';
@import 'nav';

// Hero banner on homepage

.hero {
  height: 70vh; width: 100%;
  position: relative;
  background: url(../assets/banner-background.jpg) center center;
  background-size: cover; 
  overflow: hidden;
}

.hero--proj {
  width: 140%; max-width: 500px;
  position: absolute; top: 23vh; left: 50%; transform: translateX(-50%);
  z-index: 2;
}

.hero--content {
  width: 100%;
  position: absolute; top: 33vh; z-index: 3;
}

.hero--tag {
  margin: 0 auto 1rem auto; padding: 1rem; width: 80%; max-width: 760px;
  display: block;
  text-align: center; background: rgba(13,13,13,.85); color: white;
  font-size: 1.3rem; line-height: 1.5;
}

.hero--cta {
  margin: 0 auto; padding: 1rem 0; width: 160px;
  display: block;
  background: var(--purple); color: white;
  font-size: 1.1rem; text-align: center; text-decoration: none;
}

// Page section containers

.page--section {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1000px;
}

.page--link {
  margin: 0 0 2rem 0;
  width: 100%; height: 250px;
  display: block;
  background: var(--purple); color: white;
  text-decoration: none; text-align: center;
  font-size: 2.5rem; line-height: 250px;
  &:last-child {
    margin: 0;
  }
}

.subpage {
  margin-top: 138px; padding-top: 2rem;
  background: url(../assets/banner-background.jpg);
  background-size: cover; background-position: center center;
}

.block {
  margin: 0 auto 2rem auto; padding: 2rem 1rem; max-width: 450px;
  background: rgba(255,255,255,.7); color: black; position: relative;
  text-decoration: none;
}

.sidebar {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  background: var(--darkpurple);
}

.sidebar--link, .sidebar--txtlink {
  margin: 0 auto;
  display: block;
  width: 100%; max-width: 450px;
}

.sidebar--heading {
  margin: 0 auto;
  display: block;
  width: 100%; max-width: 450px;
}

.sidebar--img {
  height: 50px;
}

.sidebar--txtlink {
  font-size: 1.2rem; font-weight: 500;
}

// Headings and text

.h1 { // H1
  margin: 0 auto; padding: 2rem 0; max-width: 512px; 
  font-size: 3rem; font-weight: 600; text-indent: 1rem;
  background: rgba(13,13,13,.6);
}

.h2 { // H2
  margin: 0 0 1.5rem 0;
  font-size: 2rem; font-weight: 600;
}

.reg--text {
  margin: 0 0 1rem 0;
  line-height: 1.25; list-style-type: disc;
  strong {
    font-weight: 500;
  }
  li {
    margin-left:  1rem;
  }
}

.work--logo {
  margin-top: 1rem;
  max-width: 100%;
}

@import 'footer';
@import 'contact';

// Mobile step 1

@media screen and (min-width: 440px) {
  .hero {
    height: 75vh;
  }
  .hero--proj {
    width: 100%;
  }
}

// Mobile step 2 & Tablet

@media screen and (min-width: 540px) {
  .hero--tag {
    font-size: 1.5rem;
  }
  .hero--cta {
    font-size: 1.2rem;
  }
  .subpage {
    margin-top: 154px;
  }
  .block {
    padding: 3rem 2rem;
  }
}

// Desktop

@media screen and (min-width: 960px) {
  .hero--tag {
    font-size: 2rem;
  }
  .hero--cta {
    font-size: 1.4rem;
  }
  .flex--section {
    display: flex;
  }
  .page--link {
    margin: 0 2rem 0 0;
    width: 32%;
    &:last-child {
      margin: 0;
    }
  }
  .subpage {
    margin-top: 150px;
  }
  .block {
    margin: 0 2rem 0 0;
    width: 33%;
    &:last-child {
      margin: 0;
    }
  }
  .h1 {
    max-width: 1000px;
    text-indent: 2rem;
  }
}

// Sidebar only goes to the side when it fits

@media screen and (min-width: 1220px) {
  .sidebar {
    width: 15%;
    position: absolute; top: calc(150px + 2rem); right: 0;
  }
  .about--page {
    margin: 0 auto 0 0;
  }
}

// In the case of televisions

@media screen and (min-width: 1660px) {
  .hero--proj {
    max-width: 700px;
    top: 20vh;
  }
  .hero--tag {
    padding: 2rem;
    max-width: 900px;
  }
  .hero--cta {
    padding: 1.5rem 0;
    width: 240px;
  }
  .subpage {
    padding-top: 3rem;
  }
  .page--section {
    padding: 3rem 0;
    max-width: 1240px;
  }
  .h1 {
    max-width: 1240px;
  }
  .sidebar {
    top: calc(150px + 3rem);
  }
  .about--page {
    margin: 0 auto 0 3rem;
  }
}