:root {
  --purple: #4A2974;
  --darkpurple: rgb(37, 15, 37); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

body {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 100%;
  background: var(--darkpurple);
  color: white; }

main {
  background: white;
  position: relative;
  overflow: hidden; }

a {
  color: inherit; }

.header--primary {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99; }

.logo {
  margin: 1rem 0 1rem 1.5rem; }
  .logo img {
    width: 40%;
    max-width: 100px; }

@media screen and (min-width: 540px) {
  .logo {
    margin: 1.5rem 0 1.5rem 3%; } }
@media screen and (min-width: 960px) {
  .logo {
    margin: 1.5rem 0 1.5rem 15%; } }
.nav--ul {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  border-top: 4px solid white; }

.nav--li {
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 330ms; }

.nav--a {
  padding: 1.2rem 0;
  width: 100%;
  display: block;
  color: white;
  font-weight: 400;
  text-decoration: none;
  text-indent: 1.5rem; }

.active {
  background: var(--purple); }

.hamburger {
  position: absolute;
  top: 2.6rem;
  right: 1.5rem; }

.hamburger--bar {
  margin-bottom: 8px;
  height: 7px;
  width: 50px;
  display: block;
  background: white;
  border-radius: 6px; }
  .hamburger--bar:last-child {
    margin-bottom: 0; }

.hamburger--closed {
  display: none; }

#openNav:target .nav--ul {
  height: 100%;
  opacity: 1; }
#openNav:target .nav--li {
  transform: scaleY(1);
  transition: transform 330ms; }
#openNav:target .hamburger--open {
  display: none; }
#openNav:target .hamburger--closed {
  display: block; }

@media screen and (min-width: 540px) {
  .hamburger {
    top: 3rem;
    right: 3%; } }
@media screen and (min-width: 960px) {
  .hamburger {
    display: none; }

  #openNav:target .hamburger {
    display: none; }

  .nav--ul {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    opacity: 1;
    border: none; }

  .nav--li {
    transform: none;
    width: 100px;
    display: inline-block; }

  .nav--a {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    text-indent: 0;
    border-radius: 5px; }

  .active {
    background: var(--purple); } }
.hero {
  height: 70vh;
  width: 100%;
  position: relative;
  background: url(../assets/banner-background.jpg) center center;
  background-size: cover;
  overflow: hidden; }

.hero--proj {
  width: 140%;
  max-width: 500px;
  position: absolute;
  top: 23vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }

.hero--content {
  width: 100%;
  position: absolute;
  top: 33vh;
  z-index: 3; }

.hero--tag {
  margin: 0 auto 1rem auto;
  padding: 1rem;
  width: 80%;
  max-width: 760px;
  display: block;
  text-align: center;
  background: rgba(13, 13, 13, 0.85);
  color: white;
  font-size: 1.3rem;
  line-height: 1.5; }

.hero--cta {
  margin: 0 auto;
  padding: 1rem 0;
  width: 160px;
  display: block;
  background: var(--purple);
  color: white;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none; }

.page--section {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1000px; }

.page--link {
  margin: 0 0 2rem 0;
  width: 100%;
  height: 250px;
  display: block;
  background: var(--purple);
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  line-height: 250px; }
  .page--link:last-child {
    margin: 0; }

.subpage {
  margin-top: 138px;
  padding-top: 2rem;
  background: url(../assets/banner-background.jpg);
  background-size: cover;
  background-position: center center; }

.block {
  margin: 0 auto 2rem auto;
  padding: 2rem 1rem;
  max-width: 450px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  position: relative;
  text-decoration: none; }

.sidebar {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  background: var(--darkpurple); }

.sidebar--link, .sidebar--txtlink {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 450px; }

.sidebar--heading {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 450px; }

.sidebar--img {
  height: 50px; }

.sidebar--txtlink {
  font-size: 1.2rem;
  font-weight: 500; }

.h1 {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 512px;
  font-size: 3rem;
  font-weight: 600;
  text-indent: 1rem;
  background: rgba(13, 13, 13, 0.6); }

.h2 {
  margin: 0 0 1.5rem 0;
  font-size: 2rem;
  font-weight: 600; }

.reg--text {
  margin: 0 0 1rem 0;
  line-height: 1.25;
  list-style-type: disc; }
  .reg--text strong {
    font-weight: 500; }
  .reg--text li {
    margin-left: 1rem; }

.work--logo {
  margin-top: 1rem;
  max-width: 100%; }

.footer--primary {
  padding: 2rem 1rem;
  background: var(--darkpurple);
  color: white;
  font-weight: 400; }

.footer--text {
  margin-bottom: 1rem;
  line-height: 1.25; }

.footer--social {
  margin-bottom: 2rem;
  position: relative;
  display: block;
  width: 100%;
  height: 35px; }
  .footer--social img {
    height: 35px; }

.footer--link {
  color: white;
  text-decoration: underline; }

.vertical--align {
  padding-left: .5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

@media screen and (min-width: 640px) {
  .footer--primary {
    padding: 3rem 3%;
    display: flex;
    flex-direction: row-reverse; }

  .flex--left {
    width: 60%; }

  .flex--right {
    width: 40%; }

  .footer--social {
    margin-bottom: 1rem; } }
@media screen and (min-width: 800px) {
  .footer--primary {
    padding: 3rem 15%; }

  .flex--left {
    width: 60%; }

  .flex--right {
    width: 40%; } }
@media screen and (min-width: 960px) {
  .flex--left {
    width: 65%; }

  .flex--right {
    width: 35%; } }
#googleMap {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  max-width: 512px; }

label, input {
  display: block;
  width: 100%; }

label {
  margin-top: 1.4rem;
  font-weight: 400; }

input, textarea {
  margin-top: .5rem;
  padding: .3rem 0 .5rem 0;
  text-indent: .2rem;
  background: none;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 100%; }

textarea {
  width: 100%; }

.flex--wrap {
  margin: 0 auto;
  display: block;
  max-width: 512px; }

.section--half {
  margin: 2rem auto 0 auto;
  width: 90%; }

.form--btn {
  margin-top: 2rem;
  padding: .5rem 3rem;
  background: white;
  border: none;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 100%;
  font-weight: 500;
  transition: background 330ms; }
  .form--btn:hover {
    background: purple;
    transition: background 330ms;
    cursor: pointer; }

@media screen and (min-width: 960px) {
  .flex--section, #googleMap {
    max-width: 1000px; }

  .flex--wrap {
    flex-wrap: wrap;
    flex-direction: row-reverse; }

  .flex--right {
    display: flex;
    flex-wrap: wrap; }

  .section--half {
    width: 50%; }

  fieldset {
    margin-right: 4%;
    width: 46%; }
    fieldset.no--margin {
      margin-right: 0;
      width: 50%; }
    fieldset.full--width {
      margin-right: 0;
      width: 100%; } }
@media screen and (min-width: 1660px) {
  .flex--section, #googleMap {
    max-width: 1240px; }

  .section--half {
    margin-top: 3rem; } }
@media screen and (min-width: 440px) {
  .hero {
    height: 75vh; }

  .hero--proj {
    width: 100%; } }
@media screen and (min-width: 540px) {
  .hero--tag {
    font-size: 1.5rem; }

  .hero--cta {
    font-size: 1.2rem; }

  .subpage {
    margin-top: 154px; }

  .block {
    padding: 3rem 2rem; } }
@media screen and (min-width: 960px) {
  .hero--tag {
    font-size: 2rem; }

  .hero--cta {
    font-size: 1.4rem; }

  .flex--section {
    display: flex; }

  .page--link {
    margin: 0 2rem 0 0;
    width: 32%; }
    .page--link:last-child {
      margin: 0; }

  .subpage {
    margin-top: 150px; }

  .block {
    margin: 0 2rem 0 0;
    width: 33%; }
    .block:last-child {
      margin: 0; }

  .h1 {
    max-width: 1000px;
    text-indent: 2rem; } }
@media screen and (min-width: 1220px) {
  .sidebar {
    width: 15%;
    position: absolute;
    top: calc(150px + 2rem);
    right: 0; }

  .about--page {
    margin: 0 auto 0 0; } }
@media screen and (min-width: 1660px) {
  .hero--proj {
    max-width: 700px;
    top: 20vh; }

  .hero--tag {
    padding: 2rem;
    max-width: 900px; }

  .hero--cta {
    padding: 1.5rem 0;
    width: 240px; }

  .subpage {
    padding-top: 3rem; }

  .page--section {
    padding: 3rem 0;
    max-width: 1240px; }

  .h1 {
    max-width: 1240px; }

  .sidebar {
    top: calc(150px + 3rem); }

  .about--page {
    margin: 0 auto 0 3rem; } }

/*# sourceMappingURL=style.css.map */
